name: Android CI

on:
  push:
    branches: [ "**" ]
  pull_request:
    branches: [ "**" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "11"

      - name: Set up Android SDK
        uses: android-actions/setup-android@v3

      - name: Install SDK components
        run: |
          sdkmanager "platform-tools" "platforms;android-28" "build-tools;28.0.3"

      - name: Build with Gradle
        uses: gradle/gradle-build-action@v3
        with:
          gradle-version: "5.4.1"
          arguments: assembleDebug
